.game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .highlight {
    font-weight: bold;
  }

  ol, ul {
    padding-left: 30px;
  }


  